<section class="mv-top">
	<div class="inner">
		<a href="#" class="mv-top__logo"><img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="LANDBRIDGE"></a>
		<h2 class="mv-top__ttl"><img src="<%= RELATIVE_PATH %>img/index/mv-ttl.png" alt="エンジニア不足なら弊社にお任せください！”一気通貫”で開発優秀なエンジニアを派遣"></h2>
		<p class="mv-top__desc">企画・開発からスポット対応まで商品開発が可能！<br>お客様の作りたいを”伴走型”でサポートします。</p>
		<div class="c-btn__01">
			<span class="txt-note">アイディアベースからの相談もOK！</span>
			<a href="#"><span>まずは無料相談！</span></a>
		</div>
		<div class="mv-top__img">
			<img src="<%= RELATIVE_PATH %>img/index/img-mv.png" alt="">
		</div>
	</div>
</section>
<section class="problems-top">
	<div class="inner">
		<h2 class="c-ttl__01 c-ttl__01--yellow">
			<span class="txt-lg">こんなお悩みありませんか？</span>
		</h2>
		<div class="problems-top__wp l-wrap">
			<div class="problems-top__wp-img">
				<img src="<%= RELATIVE_PATH %>img/index/img-probblems.png" alt="こんなお悩みありませんか？">
			</div>
			<div class="problems-top__wp-ct">
				<ul class="problems-top__wp-list">
					<li>システム開発をしたいが、費用が高い</li>
					<li>システムイメージがまとまらず、うまく進行しない</li>
					<li>設計から開発、運用まで丸ごとお任せしたい</li>
					<li>技術力の高いエンジニアを探している</li>
					<li>柔軟に動けるエンジニアを採用したい</li>
					<li>スポットでの対応をしてほしい</li>
					<li>幅広い言語や分野に対応できる人が欲しい</li>
					<li>最先端技術を活用したサービスを開発したい</li>
				</ul>
			</div> 
		</div>
	</div>
</section>
<section class="aboutus-top">
	<div class="inner">
		<h2 class="c-ttl__01 aboutus-top__ttl">
			<small class="txt-sm">私たちLandBridgeは</small>
			<span class="txt-lg"><span>企画・設計・開発</span>まで<br>お客様と <span>”伴走型”</span>で <span>システム開発</span>を行います！</span>
		</h2>
		<div class="aboutus-top__content">
			<ul class="aboutus-top__list">
				<li>企画、設計などの上流工程から、開発などの下流工程まで一気通貫した対応が可能</li>
				<li>エンジニア一人あたりの金額設定ではなく、チーム単位での契約なので総額的に安い</li>
				<li>様々な開発言語に対応したエンジニアが在籍しているため、網羅的な対応が可能</li>
				<li>請負型 / Lab型と、契約する形態を案件ごとにご提案・ご相談後のご契約が可能</li>
			</ul>
			<div class="aboutus-top__img-left">
				<img src="<%= RELATIVE_PATH %>img/index/img-about-01.png" alt="私たちLandBridgeは">
			</div>
			<div class="aboutus-top__img-right">
				<img src="<%= RELATIVE_PATH %>img/index/img-about-02.png" alt="私たちLandBridgeは">
			</div>
		</div>
		<h3 class="aboutus-top__ttlsub">私たちはお客様と共にアイディア出しから<br>企画・設計・開発までチームでの開発を大切にしています。</h3>
		<div class="aboutus-top__desc c-txt__01">
			<p>
				専門知識を要するシステム開発では、お客様の欲しい機能などを委託時にうまく伝えることができず、<br>
				最終的に多くのコストがかかってしまった例などを伺ってまいりました。
			</p>
			<p>LandBridgeでは伴走型のチーム体制でお客様と共にシステム開発をおこなっていきます！</p>
		</div>
		<div class="c-btn__01 aboutus-top__btn">
			<span class="txt-note">アイディアベースからの相談もOK！</span>
			<a href="#"><span>無料相談はこちら</span></a>
		</div>
	</div>
</section>
<section class="reason-top">
	<div class="inner">
		<h2 class="c-ttl__01"><span class="txt-lg">LandBridgeが<br>選ばれる4つの理由</span></h2>
		<ul class="reason-top__list">
			<li class="reason-top__list-item">
				<div class="reason-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/index/img-reason-01.png" alt="品質とスピード感">
				</div>
				<h3 class="reason-top__list-ttl">品質とスピード感</h3>
				<p>私たちはエンジニア一人当たりの契約ではなく、PMやエンジニアを含めたチーム単位での契約となり、チームで共同して開発を進めるため、スピード感を持った開発と品質の担保が可能です。</p>
			</li>
			<li class="reason-top__list-item">
				<div class="reason-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/index/img-reason-02.png" alt="アイディアベースの状態からお取り組みが可能">
				</div>
				<h3 class="reason-top__list-ttl">アイディアベースの状態からお取り組みが可能</h3>
				<p>『しっかり決まっていなから相談しながら開発したい』『開発の中で細かく確認しながら進めたい』など、委託する中で不安な箇所がないように私たちLandBridgeでは”お客様に寄り添いチームとなって”開発を進めていきます。</p>
			</li>
			<li class="reason-top__list-item">
				<div class="reason-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/index/img-reason-03.png" alt="上流〜下流まで一気通貫して開発が可能">
				</div>
				<h3 class="reason-top__list-ttl">上流〜下流まで一気通貫して開発が可能</h3>
				<p>
					チームでお客様のプロジェクトに参画する形となります。<br>
					お客様の「作りたい形」を実現するために、お客様とコミュニケーションを取りながら企画・設計などの上流工程から下流工程まで一気通貫で対応が可能です。</p>
			</li>
			<li class="reason-top__list-item">
				<div class="reason-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/index/img-reason-04.png" alt="費用が一人当たりではなく、チーム単位">
				</div>
				<h3 class="reason-top__list-ttl">費用が一人当たりではなく、チーム単位</h3>
				<p>本来はエンジニア一人当たりの費用がかかるものが、LandBridgeではエンジニア一人当たりの費用ではなく複数名のチーム単位での契約となるため、総合的なコスト削減が可能です。</p>
			</li>
		</ul>
	</div>
</section>
<section class="features-top">
	<div class="inner">
		<h2 class="c-ttl__01"><span class="txt-lg">LandBridgeの特徴</span></h2>
		<div class="features-top__desc">
			私たちのサービスはお客様のニーズやプロジェクト内容に合わせて<br>エンジニアの配置を柔軟にご提案しております！
		</div>
	</div>
	<div class="features-top__main">
		<div class="inner">
			<ul class="features-top__list">
				<li class="features-top__list-item">
					<div class="features-top__list-img"><img src="<%= RELATIVE_PATH %>img/index/img-features-01.png" alt="Lab型"></div>
					<h2 class="features-top__list-ttl">Lab型</h2>
					<div class="features-top__list-desc">
						<p>お客様の指定する期間やメンバーでお客様専属のチームを設けて開発します！</p>
						<p>プロジェクトの内容やご要望を確認後、コーディングファクトリーのメンバーが参加いたします。</p>
						<p>そのため、要件が固まり切っていない場合や開発途中に仕様が変更・追加になりそうな場合に臨機応変に対応できます。</p>
					</div>
				</li>
				<li class="features-top__list-item">
					<div class="features-top__list-img"><img src="<%= RELATIVE_PATH %>img/index/img-features-02.png" alt="請負型"></div>
					<h2 class="features-top__list-ttl">請負型</h2>
					<div class="features-top__list-desc">
						<p>お客様の希望する仕様と内容を元に、所定の成果物を開発します！</p>
						<p>開発要件があらかじめ決まっているため、リリース日から逆算したスケジュール計画ができます。</p>
						<p>一括して弊社が管理を行うため管理業務の手間が必要ありません。</p>
					</div>
				</li>
			</ul>
			<div class="c-btn__01"><a href="$"><span>無料相談はこちら</span></a></div>
		</div>
	</div>
</section>
<section class="support-top">
	<div class="inner inner--lg">
		<h2 class="c-ttl__01"><span class="txt-lg">LandBridgeの特徴</span></h2>
		<ul class="support-top__list l-grid l-grid-2c">
			<li class="support-top__list-item">
				<h3 class="support-top__list-ttl">Webアプリ開発</h3>
				<p>モダンな言語やフレームワークを用いて開発を行うことができます。<br>業務系システムからマッチングシステムまで様々なジャンルの開発を行うことができます。</p>
			</li>
			<li class="support-top__list-item">
				<h3 class="support-top__list-ttl">モバイルアプリ開発</h3>
				<p>iOSやAndroidのアプリを開発することができます。<br>オリジナルのアプリの開発を開発することができます。</p>
			</li>
			<li class="support-top__list-item">
				<h3 class="support-top__list-ttl">AI開発</h3>
				<p>AI開発で実績のあるメンバーが在籍しています。<br>ChatGPTを使ったシステムも開発することができます。</p>
			</li>
			<li class="support-top__list-item">
				<h3 class="support-top__list-ttl">ホームページ＆LP制作</h3>
				<p>高品質なホームページやLPの制作をすることができます。<br>写真を用意する段階から全てご一緒にご提案します。</p>
			</li>
		</div>
	</div>
</section>
<section class="results-top">
	<div class="inner inner--lg">
		<h2 class="c-ttl__01"><span class="txt-lg">開発実績</span></h2>
		<ul class="results-top__list l-grid l-grid-2c">
			<li class="results-top__list-item">
				<div class="results-top__list-icon">
					<img src="<%= RELATIVE_PATH %>img/index/ico-01.png" alt="モダン技術を利用したWebシステム">
				</div>
				<h3 class="results-top__list-ttl">モダン技術を利用したWebシステム</h3>
				<div class="results-top__list-desc">
					個人のライフプランがシミュレーションできる<br>
					Webアプリケーションを開発しました。
				</div>
			</li>
			<li class="results-top__list-item">
				<div class="results-top__list-icon">
					<img src="<%= RELATIVE_PATH %>img/index/ico-02.png" alt="AIを活用したWebシステム">
				</div>
				<h3 class="results-top__list-ttl">AIを活用したWebシステム</h3>
				<div class="results-top__list-desc">
					ChatGPTを利用した<br>Webアプリケーションを開発しました。
				</div>
			</li>
			<li class="results-top__list-item">
				<div class="results-top__list-icon">
					<img src="<%= RELATIVE_PATH %>img/index/ico-03.png" alt="既存Webシステムの通知開発">
				</div>
				<h3 class="results-top__list-ttl">既存Webシステムの通知開発</h3>
				<div class="results-top__list-desc">
					既存のWebシステムの機能追加開発をしました。<br>TwitterのAPIを利用して開発をしました。
				</div>
			</li>
			<li class="results-top__list-item">
				<div class="results-top__list-icon">
					<img src="<%= RELATIVE_PATH %>img/index/ico-04.png" alt="Webシステム">
				</div>
				<h3 class="results-top__list-ttl">Webシステム</h3>
				<div class="results-top__list-desc">
					ニュースや動画をまとめることができるWebアプリケーションを開発しました。
				</div>
			</li>
			<li class="results-top__list-item">
				<div class="results-top__list-icon">
					<img src="<%= RELATIVE_PATH %>img/index/ico-05.png" alt="業務管理システム">
				</div>
				<h3 class="results-top__list-ttl">業務管理システム</h3>
				<div class="results-top__list-desc">
					kintoneを利用して業務フローに沿った独自アプリを開発しました。
				</div>
			</li>
			<li class="results-top__list-item">
				<div class="results-top__list-icon">
					<img src="<%= RELATIVE_PATH %>img/index/ico-06.png" alt="SSOシステム（バックエンド）">
				</div>
				<h3 class="results-top__list-ttl">SSOシステム（バックエンド）</h3>
				<div class="results-top__list-desc">
					Shopify内のアプリを開発して通販サイトのSSO開発を行いました。
				</div>
			</li>
		</ul>
		<div class="c-btn__01 c-btn__01--large"><a href="#"><span>開発を相談する</span></a></div>
	</div>
</section>
<section class="system-top">
	<div class="inner">
		<h2 class="c-ttl__01 c-ttl__01--white"><span class="txt-lg">システム開発事例</span></h2>
		<ul class="system-top__list l-wrap">
			<li class="system-top__list-item">
				<div class="system-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/index/img-system-01.png" alt="kintone開発">
				</div>
				<h3 class="system-top__list-ttl">kintone開発</h3>
				<div class="system-top__list-desc">
					現在人気が高まっているkintone。<br>自社向けのUI設計を行うことはもちろんのこと、プラグインまでの開発を行うことができます。
				</div>
			</li>
			<li class="system-top__list-item">
				<div class="system-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/common/img-system-02.png" alt="Shopify開発">
				</div>
				<h3 class="system-top__list-ttl">Shopify開発</h3>
				<div class="system-top__list-desc">
					ShopifyのUI開発からアプリの開発も行うことができます。 実績として転売防止アプリの開発やSSOアプリの開発を行っています。
				</div>
			</li>
			<li class="system-top__list-item">
				<div class="system-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/common/img-system-03.png" alt="大手通信会社案件">
				</div>
				<h3 class="system-top__list-ttl">大手通信会社案件</h3>
				<div class="system-top__list-desc">
					大手通信会社の新規事業の案件にも携わりました。モダンな開発言語とフレームワークを使用し開発を行いました。
				</div>
			</li>
			<li class="system-top__list-item">
				<div class="system-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/common/img-system-04.png" alt="大手新聞社案件">
				</div>
				<h3 class="system-top__list-ttl">大手新聞社案件</h3>
				<div class="system-top__list-desc">
					大手新聞会社の案件にも携わりました。<br>
					他社様の開発チームはバックエンドを担当、弊社ではフロントエンドを担当いたしました。モダンな技術を利用して、他社の日本企業とも連携して開発を行いました。
				</div>
			</li>
			<li class="system-top__list-item">
				<div class="system-top__list-img">
					<img src="<%= RELATIVE_PATH %>img/common/img-system-05.png" alt="ChatGPT案件">
				</div>
				<h3 class="system-top__list-ttl">ChatGPT案件</h3>
				<div class="system-top__list-desc">
					大手企業様のChatGPTの新規事業のプロダクトにも入らせていただいて、ChatGPTを使用したアプリケーションの開発も行っています。
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="partner-top">
	<div class="inner inner--lg">
		<h2 class="c-ttl__01"><span class="txt-lg">メディア掲載</span></h2>
		<ul class="partner-top__list">
			<li><img src="<%= RELATIVE_PATH %>img/common/partner-01.png" alt="メディア掲載"></li>
			<li><img src="<%= RELATIVE_PATH %>img/common/partner-02.png" alt="メディア掲載"></li>
			<li><img src="<%= RELATIVE_PATH %>img/common/partner-03.png" alt="メディア掲載"></li>
			<li><img src="<%= RELATIVE_PATH %>img/common/partner-04.png" alt="メディア掲載"></li>
			<li><img src="<%= RELATIVE_PATH %>img/common/partner-05.png" alt="メディア掲載"></li>
		</ul>
	</div>
</section>
<section class="request-top">
	<div class="inner">
		<h2 class="c-ttl__01"><span class="txt-lg">ご依頼の流れ</span></h2>
		<ul class="request-top__list">
			<li class="request-top__list-item">
				<div class="request-top__list-wp">
					<h3 class="request-top__list-ttl">お問い合わせ</h3>
					<p>お打ち合わせの日時を選択し、<br>ご送信ください。<br>2〜3日以内にご返信いたします。</p>
				</div>
			</li>
			<li class="request-top__list-item">
				<div class="request-top__list-wp">
					<h3 class="request-top__list-ttl">ヒアリング</h3>
					<p>
				</div>
					ご依頼の要件・期間など<br>プロジェクト内容をお伺いします。
				</p>
			</li>
			<li class="request-top__list-item">
				<div class="request-top__list-wp">
					<h3 class="request-top__list-ttl">ご提案</h3>
					<p>ヒアリングをもとに、<br>最適な契約方法・開発体制を<br>ご提案します。</p>
				</div>
			</li>
			<li class="request-top__list-item">
				<div class="request-top__list-wp">
					<h3 class="request-top__list-ttl">お見積り</h3>
					<p>開発期間と工数を考慮して、<br>受託型とラボ型の両方の<br>お見積りをご提案します。</p>
				</div>
			</li>
			<li class="request-top__list-item">
				<div class="request-top__list-wp">
					<h3 class="request-top__list-ttl">ご契約</h3>
					<p>開発体制に合意いただけましたら、<br>契約締結となります。</p>
				</div>
			</li>
		</ul>
		<div class="c-btn__01"><a href="#"><span>無料相談はこちら</span></a></div>
	</div>
</section>
<section class="faq-top">
	<div class="inner">
		<h2 class="c-ttl__01"><span class="txt-lg">よくある質問</span></h2>
		<div class="faq-top__main">
			<dl class="faq-top__main-dl">
				<dt class="faq-top__main-dt">要件定義がまとまっていませんが、依頼可能ですか？</dt>
				<dd class="faq-top__main-dd">
					可能です。<br>
					弊社では一般的な受託開発とは違い、上流工程から下流工程まで一気通貫で請け負うことが可能です。
				</dd>
			</dl>
			<dl class="faq-top__main-dl">
				<dt class="faq-top__main-dt">エンジニアのスポット依頼は可能でしょうか</dt>
				<dd class="faq-top__main-dd">
					可能です。<br>フロントエンド（UI）だけといった依頼でも対応しており、開発実績もあります。スポットで入ることも可能ですのでご相談ください。
				</dd>
			</dl>
			<dl class="faq-top__main-dl">
				<dt class="faq-top__main-dt">どのような契約形態になりますか</dt>
				<dd class="faq-top__main-dd">
					基本的にはLab型と請負型の２種類になります。<br>弊社の案件は９割がLab型で開発を行っています。
				</dd>
			</dl>
			<dl class="faq-top__main-dl">
				<dt class="faq-top__main-dt">費用面での相談は可能ですか</dt>
				<dd class="faq-top__main-dd">
					もちろん可能です。概算を出すことが可能です。<br>しかし、詳細な費用感を出すのは仕様が固まった後になりますのでご注意ください。
				</dd>
			</dl>
			<dl class="faq-top__main-dl">
				<dt class="faq-top__main-dt">最低契約期間はどれくらいですか？　</dt>
				<dd class="faq-top__main-dd">
					１ヶ月からのご契約でも可能です。<br>開発者がスポットで欲しい場合などお気軽にご相談ください。
				</dd>
			</dl>
		</div>
	</div>
</section>
<section class="contact-top">
	<div class="inner">
		<h2 class="c-ttl__01 c-ttl__01--white"><span class="txt-lg">お問い合わせ</span></h2>
		<div class="contact-top__intro">
			お問合わせの内容を確認後、通常1～2営業日以内に折り返しご連絡させていただきます。<br>
			アイディア段階の内容でも構いませんので、お気軽にお問い合わせください。
		</div>
		<form action="" method="post" class="contact-top__form">
			<dl class="contact-top__dl">
				<dt class="contact-top__dt">会社名<span class="required">会社名</span></dt>
				<dd class="contact-top__dd">
					<input type="text" class="form-control" placeholder="例:株式会社example">
				</dd>
			</dl>
			<div class="l-wrap">
				<dl class="contact-top__dl">
					<dt class="contact-top__dt">担当者名<span class="required">会社名</span></dt>
					<dd class="contact-top__dd">
						<input type="text" placeholder="例:山田　太郎">
					</dd>
				</dl>
				<dl class="contact-top__dl">
					<dt class="contact-top__dt">氏名（ふりがな）<span class="required">会社名</span></dt>
					<dd class="contact-top__dd">
						<input type="text" placeholder="例:やまだ　たろう">
					</dd>
				</dl>
			</div>
			<dl class="contact-top__dl">
				<dt class="contact-top__dt">開発内容<span>※複数選択可</span></dt>
				<dd class="contact-top__dd">
					<div class="pure-list">
						<span class="mwform-radio-field horizontal-item">
							<label>
								<input type="radio" name="type" value="Webアプリ開発">
								<span class="mwform-radio-field-text">Webアプリ開発</span>
							</label>
						</span>
						<span class="mwform-radio-field horizontal-item">
							<label>
								<input type="radio" name="type" value="モバイルアプリ開発">
								<span class="mwform-radio-field-text">モバイルアプリ開発</span>
							</label>
						</span>
						<span class="mwform-radio-field horizontal-item">
							<label>
								<input type="radio" name="type" value="AI開発">
								<span class="mwform-radio-field-text">AI開発</span>
							</label>
						</span>
						<span class="mwform-radio-field horizontal-item">
							<label>
								<input type="radio" name="type" value="ホームページ＆LP制作">
								<span class="mwform-radio-field-text">ホームページ＆LP制作</span>
							</label>
						</span>
					</ul>
				</dd>
			</dl>
			<dl class="contact-top__dl">
				<dt class="contact-top__dt">電話番号<span class="required">会社名</span></dt>
				<dd class="contact-top__dd">
					<input type="text" placeholder="例:0312345678">
				</dd>
			</dl>
			<dl class="contact-top__dl">
				<dt class="contact-top__dt">メールアドレス<span class="required">会社名</span></dt>
				<dd class="contact-top__dd">
					<input type="text" placeholder="例:xxx@example.com">
				</dd>
			</dl>
			<dl class="contact-top__dl">
				<dt class="contact-top__dt">お問い合わせ内容<span class="required">会社名</span></dt>
				<dd class="contact-top__dd">
					<textarea name="" id="" cols="30" rows="10" class="form-control--textare" placeholder="ご不明点、開発相談や作りたいもののイメージなどご入力ください"></textarea>
				</dd>
			</dl>
			<button class="c-btn__submit">この内容で送信する</button>
		</form>
		<div class="contact-top__profile">
			<h3 class="c-ttl__01 c-ttl__01--white"><span class="txt-lg">お問い合わせ</span></h3>
			<dl class="contact-top__profile-dl">
				<dt class="contact-top__profile-dt">会社名</dt>
				<dd class="contact-top__profile-dd">LandBridge株式会社</dd>
			</dl>
			<dl class="contact-top__profile-dl">
				<dt class="contact-top__profile-dt">所在地</dt>
				<dd class="contact-top__profile-dd">埼玉県越谷市川柳町二丁目401</dd>
			</dl>
			<dl class="contact-top__profile-dl">
				<dt class="contact-top__profile-dt">設立</dt>
				<dd class="contact-top__profile-dd">2022年10月</dd>
			</dl>
			<dl class="contact-top__profile-dl">
				<dt class="contact-top__profile-dt">代表者</dt>
				<dd class="contact-top__profile-dd">三森 一輝</dd>
			</dl>
			<dl class="contact-top__profile-dl">
				<dt class="contact-top__profile-dt">サービス</dt>
				<dd class="contact-top__profile-dd">
					デジタルトランスフォーメーション支援<br>
					ソフトウェアの企画・開発・運用<br>
					UX/UIデザイン<br>
					プロダクトの企画・開発・運用
				</dd>
			</dl>
		</div>
	</div>
</section>